@charset "utf-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,table,th,td,form,fieldset,legend,textarea,input,select,textarea,button{margin:0;padding:0}
html,body{height:100%;margin:0 auto;}
body{background:#19304F;font-size:12px;color:#000;-webkit-text-size-adjust:none;font-family:'Noto Sans KR','Apple SD Gothic Neo',sans-serif;}
body,input,textarea,select,button,table,pre{font-family:'Noto Sans KR','Apple SD Gothic Neo',sans-serif;}
fieldset,li{border:0;vertical-align:middle}
ul,ol{list-style:none}
button{overflow:visible;border:0;background-color:transparent;cursor:pointer}
address,caption,em{font-style:normal}
a,a:focus,a:active,a:hover{text-decoration:none}
a{text-decoration:none}
.blind{overflow:hidden;position:absolute;top:0;left:-999px;width:1px;height:1px;font-size:1px;text-indent:-999px}
.btn{overflow:hidden;position:absolute;text-indent:-9999px}



.wrap{overflow:hidden;min-width:1000px;margin:0 auto;}
.container{position:relative;z-index:10;width:1000px;margin:0 auto;padding-top:0px;background-color:#fcfcfc}
.bg_l{position:absolute;top:0;right:50%;width:50%;height:11570px;margin-right:500px;*margin-right:499px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/ko_bg_l.jpg) no-repeat 100% 0}
.bg_r{position:absolute;top:0;right:0;width:50%;height:11570px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/ko_bg_r.jpg) no-repeat 500px 0;*background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/ko_bg_r.jpg) no-repeat 499px 0}

.inner{position:relative;width:1000px;height:100%;margin:0 auto}
#sec_pre-registration{position:absolute;top:-190px;left:0;width:1px;height:1px}
#sec_review{position:absolute;top:-40px;left:0;width:1px;height:1px}
#sec_share{position:absolute;top:-190px;left:0;width:1px;height:1px}
#sec_sns{position:absolute;top:-170px;left:0;width:1px;height:1px}
#sec_overview{position:absolute;top:-180px;left:0;width:1px;height:1px}



.header .inner{z-index:50}
.fb-like{position:relative;display:block;background:rgba(0,0,0,0.5);z-index: 100;}
.header{position:fixed;top:0;left:0;z-index:20;width:100%;height:140px;}

/*Gnb*/
.gnb{overflow:hidden;zoom:1}
.gnb:after{display:block;clear:both;content:''}
.gnb li{float:left;}
.gnb li a{display:block;overflow:hidden;height:140px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/ko_gnb.png) no-repeat;text-indent:-999px}
.gnb .menu1 a{width:200px;background-position:0 0;}
.gnb .menu2 a{width:205px;background-position:-200px 0}
.gnb .menu3 a{width:180px;background-position:-405px 0}
.gnb .menu4 a{width:202px;background-position:-585px 0}
.gnb .menu5 a{width:213px;background-position:-787px 0}
.gnb li.active a, .gnb li a:hover{background-position-y:-141px}

.gnb_bg{position:absolute;width:1240px;height:140px;top:0px;left:50%;margin:0 0 0 -620px}
.gnb_bg_l{position:absolute;left:0;overflow:hidden;width:120px;height:140px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/gnb_bg_l.png) no-repeat;text-indent:-999px}
.gnb_bg_r{position:absolute;right:0;display:block;overflow:hidden;width:121px;height:140px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/gnb_bg_r.png) no-repeat;text-indent:-999px}



/*Header*/
.spot{position:relative;height:1200px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/ko_bg_header.jpg) no-repeat 50% 0}
.spot .btn_video{position:absolute;top:750px;left:50%;width:190px;height:190px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/btn_mov.png) no-repeat 50% 0;margin-left:-83px;}



/*Event_1*/
.event_1{position:relative;height:2450px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/ko_bg_event1.jpg) no-repeat 50% 0}

.event_1 .reward_area{position:relative;top:1270px;left:110px;width:626px;height:400px;}
.event1_deco{display:block;width:501px;height:400px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/event1_deco.gif) no-repeat;background-size:auto 400px;}

.p_form{position:relative;top:1345px;left:100px;width:805px;height:550px;}
.os_area{position:relative;overflow:hidden;margin:0 auto;top:70px;width:600px; height:36px;}
.os{float:left;width:280px;height:44px;}
.osv2{display:block;float:left;margin-left:68px;width:252px;height:44px;}
.check{display:block;float:left;width:36px;height:36px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/ko_spot_sec.png) no-repeat -36px -33px;cursor:pointer;}
.check.on{background-position:0px -33px;}
.e_area{position:relative;top:120px;left:65px;width:670px;height:90px;}
.e_area input{float:left;width:630px;height:90px;padding: 0 20px;border:none;font-size:30px; color:#6fa5a6;line-height:60px;background:rgba(0,0,0,0);text-align: center;}
.p_form .btn_register{margin:0 auto;margin-top:185px;width:480px;height:135px;cursor:pointer;}
.p_form .check_area{position:relative;margin:0 auto;top:158px;width:600px;height:70px;}
.p_form .check_area .check1{display:block;left:0;width:592px;height:30px;}
.p_form .check_area .check2{display:block;margin-top:5px;left:0;width:435px;height:30px;}
.p_form .check_area .agree{display:block;float:left;width:28px;height:27px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/ko_spot_sec.png) no-repeat -164px 0px;cursor:pointer;}
.p_form .check_area .agree.on{width:28px;height:29px;background-position:-164px -29px;}
.p_form .check_area .btn_more_agree{display:block;float:right;right:0;width:90px;height:30px;}


/*Event_2*/
.event_2{height:1520px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/ko_bg_event2.jpg) no-repeat 50% 0}

.sharebtn_area{position:relative;margin:0 auto;top:621px;left:-2px;width:688px;height:80px;}
.share_facebook{float:left;width:300px;height:80px;}
.share_twitter{float:left;margin-left:88px;width:300px;height:80px;}

.event_2 .reward_area{position:relative;top:850px;margin:0 auto;left:-40px;width:437px;height:302px;}
.event2_deco{display:block;width:525px;height:525px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/event2_deco.gif) no-repeat;}



/*Event_3*/
.event_3{height:2450px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/ko_bg_event3.jpg) no-repeat 50% 0}

.event_3 .reward_area{position:relative;top:615px;left:340px;margin:0 auto;width:299px;height:330px;}
.event3_deco{display:block;width:299px;height:330px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/event3_deco.gif) no-repeat;background-size:auto 330px;}

.reviewch_area{position:relative;overflow:hidden;margin:0 auto;left:10px;top:855px;width:735px;height:160px;}
.reviewch_area .fb{display:block;float:left;width:185px;height:160px;}
.reviewch_area .tw{float:left;float:left;margin-left:93px;width:180px;height:160px;}
.reviewch_area .ks{display:block;float:left;margin-left:82px;width:194px;height:160px;}
.reviewch_area .check{display:block;float:left;margin-top:45px;width:32px;height:32px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/ko_spot_sec.png) no-repeat -33px 0px;cursor:pointer;}
.reviewch_area .check.on{background-position:0px 0px;}

.review_box{position:relative;top:985px;left:20px;width:966px;height:195px;}
.review_box .comment{float:left;width:715px;height:135px;padding:30px;border:none;font-size:20px; color:#6fa5a6;line-height:25px;background:rgba(0,0,0,0)}
.review_btn{float:left;display:block;position:relative;top:14px;right:-10px;width:170px;height:170px;}

.review_list{position:relative;top:1075px;margin:0 auto;width:977px;height:305px;}
.t_icon{display:block;float:left;width:129px;height:37px;margin-right:10px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/ko_spot_sec.png) no-repeat 0px -70px;}
.f_icon{display:block;float:left;width:129px;height:37px;margin-right:10px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/ko_spot_sec.png) no-repeat 0px -108px;}
.k_icon{display:block;float:left;width:129px;height:37px;margin-right:10px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/ko_spot_sec.png) no-repeat 0px -146px;}
.list{float:left;display:block;position:relative;width:977px;height:60px;margin-top:2.8px;}
.list p{margin-left:130px;width:830px;font-size:20px;color:#000;line-height:37px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}



/*SNS*/
.sec_sns{height:1200px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/ko_bg_sns.jpg) no-repeat 50% 0}
.pig2{position:relative;top:610px;left:-50px;width:345px;height:315px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/pig2.png) no-repeat; z-index:30}
.gem{position:relative;top:490px;float:right;right:150px;width:142px;height:259px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/ko_30gem.png) no-repeat;z-index:30}

/* .f_time-line-embed{position:relative;top:8px;margin:0 auto;left:9px;width:524px;height:512px;} */
.f_time-line-embed{
    position: absolute;
    top: 323px;
    left: 249px;
    height: 520px;
    width: 500px;
}

.sec_sns .btn_area{position:relative;margin:0 auto;top:552px;left:0px;width:484px;height:220px;}
.sec_sns .btn_area .like_f{display:block;width:484px;height:102px;}
.sec_sns .btn_area .naver_cafe{display:block;margin-top:16px;width:484px;height:102px;}



/*Overview*/
.sec_overview{position:relative;height:1850px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/ko_bg_overview.jpg) no-repeat 50% 0}

.chuck{position:absolute;top:1700px;left:750px;width:188px;height:174px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/chuck.png) no-repeat; z-index:30;}

.story,.introduction,.screenshot{position:relative;margin:0 auto;width:750px;height:416px;}
.story{top:182px;}
.introduction{top:377px;}
.screenshot{top:576px;}

.btn_prev,.btn_next{display:block;left:50%;top:160px;width:96px;height:99px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/ko_spot_sec.png) no-repeat;cursor:pointer;z-index:30;}
.btn_prev{margin-left:-433px;background-position:0px -185px;}
.btn_next{margin-left:342px;background-position:-96px 100%;}
#intro_btn_prev1{
    position: absolute;
    top: 160px;
    width: 96px;
    height: 99px;
    display:block;
    overflow: hidden;
    left:-50px;
    z-index:999;
    cursor:pointer;
}
#intro_btn_next1{
    position: absolute;
    top:160px;
    right:-50px;
    width: 96px;
    height: 99px;
    display:block;
    overflow: hidden;
    z-index:999;
    cursor:pointer;
}  
#intro_btn_prev2{
    position: absolute;
    top: 160px;
    width: 96px;
    height: 99px;
    display:block;
    overflow: hidden;
    left:-50px;
    z-index:999;
    cursor:pointer;
}
#intro_btn_next2{
    position: absolute;
    top:160px;
    right:-50px;
    width: 96px;
    height: 99px;
    display:block;
    overflow: hidden;
    z-index:999;
    cursor:pointer;
}  
#intro_btn_prev3{
    position: absolute;
    top: 160px;
    width: 96px;
    height: 99px;
    display:block;
    overflow: hidden;
    left:-50px;
    z-index:999;
    cursor:pointer;
}
#intro_btn_next3{
    position: absolute;
    top:160px;
    right:-50px;
    width: 96px;
    height: 99px;
    display:block;
    overflow: hidden;
    z-index:999;
    cursor:pointer;
}  
a.bx-prev{
    width:96px;
    height:99px;
    display:block;
}  

a.bx-next{
    width:96px;
    height:99px;
    display:block;
}  

.game_src_area{overflow:hidden;position:relative;margin:0 auto;left:0px;width:743px;height:420px;}
.game_src_lst1{width:9999px;position:absolute;top:0}
.game_src_lst1 li{float:left;width:743px;height:420px;}
.game_src_lst1 img{width:743px;height:420px;overflow:hidden;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;background-size:auto 420px;}

.game_src_lst2{width:9999px;position:absolute;top:0}
.game_src_lst2 li{float:left;width:743px;height:420px;}
.game_src_lst2 img{width:743px;height:420px;overflow:hidden;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;background-size:auto 420px;}

.game_src_lst3{width:9999px;position:absolute;top:0}
.game_src_lst3 li{float:left;width:743px;height:420px;}
.game_src_lst3 img{width:743px;height:420px;overflow:hidden;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;background-size:auto 420px;}



/*footer*/
.footer{position:relative;height:900px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/ko_bg_footer.jpg) no-repeat 50% 0}
.footer .btn_area{position:relative;margin:0 auto;top:183px;left:265px;width:195px; height:97px;z-index:30;}
.privacy{display:block;float:left;width:100%; height:46px;}
.contact{display:block;float:left; margin-top:5px;width:100%; height:46px;}



/* layer popup */
/* common */
.dimmed{position:fixed;top:0;left:0;right:0;bottom:0;z-index:100;background:#000;filter:alpha(opacity=70);opacity:0.7;}
.ly_wrap{*zoom:1;position:fixed;top:50%;right:0;left:0;text-align:center;z-index:100}
.ly_cont{position:relative;width:100%;height:100%}
.btn_pop_ok{display:block;overflow:hidden;margin:20px 0 40px;display:inline-block;background:#3b589e;-webkit-border-radius:35px;-moz-border-radius:35px;border-radius:35px;box-shadow:0 8px 0 #1a3475;color:#fff369;width:200px;height:70px;line-height:70px;font-size:30px;font-weight:bold}
.ly_wrap .align{display:inline-block;height:100%;vertical-align:middle}

/* 동영상 */
.ly_mov{*zoom:1;position:fixed;top:50%;left:50%;z-index:110;width:900px;height:506px;margin:-200px 0 0 -455px;}
.btn_ly_close{position:absolute;top:-70px;right:0px; width:56px; height:56px; background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/ly_btn_cls.png) no-repeat;}

/* 사전등록팝업 */
.ly_wrap p{padding:40px 0 10px}
.ly_wrap em{display:block;font-size:25px;color:#5e789a;line-height:27px;}
.ly_bg1{margin:0 auto;border:6px solid #88dade;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;background:#fff;width:578px;height:auto;margin-top:-85px;}
.ly_pop_tt{font-size:30px;color:#0a4999;font-weight:600;line-height:35px;}

.ly_bg2{margin:0 auto;margin-top:-200px;width:623px;height:687px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/ko_google_pop.png) no-repeat}
.pop_num{position:relative;font-size:25px;color:#5e789a;top:200px;display:inline;}
.btn_pop_go{position:relative;margin:0 auto;left:7px;margin-top:500px;display:block;overflow:hidden;width:370px;height:115px;}
.ly_bg2 .btn_ly_cls{position:absolute;top:30px;right:30px; width:40px; height:40px; background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/ly_pop_cls.png) no-repeat;background-size:40px 40px}

.pop_e_area{position:relative;left:76px;width:420px;height:62px;margin-bottom:40px;}
.pop_e_area .line{width:360px;height:60px;border:1px solid #0a4999;}
.pop_e_area input{float:left;width:300px;height:60px;padding-left:20px;border:none;font-size:19px; color:#778fc8;line-height:60px;background:rgba(0,0,0,0)}
.pop_e_area .btn_register{position:absolute;float:right;right:0;display:block;overflow:hidden;padding:0 30px 0;background:#3b589e;-webkit-border-radius:35px;-moz-border-radius:35px;border-radius:35px;box-shadow:0 8px 0 #1a3475;color:#fff369;width:auto;height:54px;line-height:54px;font-size:30px;font-weight:bold}
.s_tt{display:block;font-size:16px;color:#5e789a;margin-bottom:40px;}

.ly_pop_title{position:relative;margin:0 auto;top:10px;width:532px;height:212px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/ko_pop_check.png) no-repeat}


.lypop p{padding:7px 0 17px}
.lypop strong{font-size:30px;color:#fff;font-weight:600;line-height:35px;}

.lypop span{line-height:20px;font-size:20px;color:#80a8cc;letter-spacing:-1px;font-weight:500}

.ly_bg3{margin:0 auto;border:6px solid #88dade;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;background:#fff;width:578px;height:auto;margin-top:-200px;}
.ly_bg3 .ly_pop_tt{height:auto;font-size:30px;color:#fff;font-weight:600;line-height:30px;background:#0a4999;padding:30px 0 20px 0;
-webkit-border-top-left-radius:24px;-webkit-border-top-right-radius:24px;
-moz-border-top-left-radius:24px;-moz-border-top-right-radius:24px;
border-top-left-radius:24px;border-top-right-radius:24px;}
.ly_bg3 .ly_txt{position:relative;width:510px;margin:0 auto;padding:40px 20px 20px;font-size:18px;text-align:left}
.ly_bg3 .ly_txt dt{float:left;width:170px;height:34px;color:#fff;line-height:33px;text-align:center;background:#3b589e;
-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;}
.ly_bg3 .ly_txt dd{width:330px;padding-left:180px;margin-bottom:22px;line-height:24px}
.ly_bg3 .ly_txt2{position:relative;width:476px;margin:0 auto;padding:10px 20px 20px;font-size:18px;text-align:left}
.ly_bg3 .btn_pop_ok{margin:20px 0 20px !important;}
.ly_bg3 .btn_bg{background:#CFF4FF;
-webkit-border-bottom-left-radius:24px;-webkit-border-bottom-right-radius:24px;
-moz-border-bottom-left-radius:24px;-moz-border-bottom-right-radius:24px;
border-bottom-left-radius:24px;border-bottom-right-radius:24px;}

.notice{position:relative;margin:0 auto;width:577px;height:47px;top:20px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/notice_bg.png);text-align:center;display:none}
.notice .tt_area{position:relative;width:380px;height:47px;margin:0 auto;}
.notice .tt{float:left;font-size:17px;color:#fff;line-height:47px;}
.notice .cls{position:relative;float:right;width:28px;height:28px;top:10px;right:0;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/notice_cls.png) 50% no-repeat;cursor:pointer;}