@charset "utf-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,table,th,td,form,fieldset,legend,textarea,input,select,textarea,button{margin:0;padding:0}
html,body{height:100%;margin:0 auto;}
body{background:#19304F;font-size:12px;color:#000;-webkit-text-size-adjust:none}
body,input,textarea,select,button,table,pre{font-family:sans-serif}
fieldset,li{border:0;vertical-align:middle}
ul,ol{list-style:none}
button{overflow:visible;border:0;background-color:transparent;cursor:pointer}
address,caption,em{font-style:normal}
a,a:focus,a:active,a:hover{text-decoration:none}
a{text-decoration:none}
.blind{overflow:hidden;position:absolute;top:0;left:-999px;width:1px;height:1px;font-size:1px;text-indent:-999px}
.btn{overflow:hidden;position:absolute;text-indent:-9999px}

/*common*/
.container{overflow:hidden;/* margin:50px auto 0 */}
.sec_game,.foot_area{position:relative}
.inner{position:relative;width:320px;height:100%;margin:0 auto}

#sec_download{position:absolute;top:-50px;left:0;width:1px;height:1px;background:#000000}
#sec_sns{position:absolute;top:-50px;left:0;width:1px;height:1px}
#sec_overview{position:absolute;top:-55px;left:0;width:1px;height:1px}

/*Language*/
.header{position:fixed;top:0;left:50%;z-index:50;width:640px;height:45px;margin-left:-320px;background: url(https://images.toast.com/toast/s629/angry/web/pre_regist/mobile/m_bg_header.png) no-repeat;background-size:auto 45px;}


/*Gnb*/
.gnb{overflow:hidden;width:320px;height:100%;margin:0 auto}
.gnb li{float:left;}
.gnb a{display:block;height:45px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/open/mobile/m_ko_gnb.png) no-repeat;background-size:auto 91px;text-indent:-9999px}
.gnb .blank1 a{width:19px;background-position:0 0;cursor:none;}
.gnb .menu1 a{width:93px;background-position:-19px 0;}
.gnb .menu2 a{width:96px;background-position:-112px 0}
.gnb .menu3 a{width:93px;background-position:-208px 0}
.gnb .blank2 a{width:19px;background-position:-301px 0;cursor:none;}
.gnb li.active a, .gnb li a:active{background-position-y:-45px}



/*Header*/
.spot{position:relative;height:380px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/mobile/m_ko_bg_header.jpg) no-repeat 50% 0;background-size:auto 380px;}
.spot .btn_video{position:absolute;top:215px;left:50%;width:70px;height:70px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/btn_mov.png) no-repeat 50% 0;background-size:auto 70px;margin-left:-35px;}



/*download*/
.download{position:relative;height:475px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/open/mobile/m_ko_download.jpg) no-repeat 50% 0;background-size:auto 475px;}
.d_area{position:relative;top:165px;left:1px;margin:0 auto;width:256px;height:132px;}
.d_area .aos{width:256px;height:56px;cursor:pointer;}
.d_area .ios{margin-top:19px;width:256px;height:56px;cursor:pointer;}
.s_area{position:relative;top:228px;margin:0 auto;left:0px;width:196px;height:58px;}
.s_area .facebook{float:left;width:55px;height:58px;cursor:pointer;}
.s_area .twitter{float:left;margin-left:16px;width:55px;height:58px;cursor:pointer;}
.s_area .line{float:left;margin-left:15px;width:55px;height:58px;cursor:pointer;}


/*SNS*/
.sec_sns{height:587.5px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/mobile/m_ko_bg_sns.jpg) no-repeat 50% 0;background-size:auto 587.5px;}

.pig2{position:relative;top:380px;right:45px;width:110px;height:101px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/pig2.png) no-repeat; z-index:30;background-size:auto 101px;}
.gem{position:relative;top:330px;float:right;right:10px;width:58px;height:106px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/ko_30gem.png) no-repeat;background-size:auto 106px;z-index:30;}

/*.f_time-line-embed,.t_time-line-embed{position:relative;top:19px;margin:0 auto;left:28px;height:318px;overflow:hidden}*/
.f_time-line-embed{    
	position: absolute;
    top: 124px;
    left: 48px;
    width: 223px;
    height: 315px;
    overflow:hidden;
    
}

.sec_sns .btn_area{position:relative;margin:0 auto;top:353px;left:0px;width:212px;height:97px;}
.sec_sns .btn_area .like_f{display:block;width:212px;height:45px;}
.sec_sns .btn_area .naver_cafe{display:block;margin-top:7px;width:212px;height:45px;}



/*Overview*/
.sec_overview{position:relative;height:685px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/mobile/m_ko_bg_overview.jpg) no-repeat 50% 0;background-size:auto 685px;}

.story,.introduction,.screenshot{position:relative;margin:0 auto;left:0.5px;width:268px;height:175px;}
.story{top:64.5px;}
.introduction{top:106.5px;}
.screenshot{top:150px;}

.btn_prev,.btn_next{display:block;left:50%;top:60px;width:34px;height:38px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/mobile/m_spot_sec.png) no-repeat 0px -37px;background-size:auto 75px; z-index:30}
.btn_prev{margin-left:-160px;background-position:0px -37px}
.btn_next{margin-left:125px;background-position:-34px -37px;}
#intro_btn_prev1{
    position: absolute;
    top: 58px;
    width: 34px;
    height: 38px;
    display:block;
    overflow: hidden;
    left:-25px;
    z-index:999;
    cursor:pointer;
}
 
#intro_btn_next1{
    position: absolute;
    top:58px;
    right:-25px;
    width: 34px;
    height: 38px;
    display:block;
    overflow: hidden;
    z-index:999;
    cursor:pointer;
}  
#intro_btn_prev2{
    position: absolute;
    top: 58px;
    width: 34px;
    height: 38px;
    display:block;
    overflow: hidden;
    left:-25px;
    z-index:999;
    cursor:pointer;
}
 
#intro_btn_next2{
    position: absolute;
    top:58px;
    right:-25px;
    width: 34px;
    height: 38px;
    display:block;
    overflow: hidden;
    z-index:999;
    cursor:pointer;
} 
#intro_btn_prev3{
    position: absolute;
    top: 58px;
    width: 34px;
    height: 38px;
    display:block;
    overflow: hidden;
    left:-25px;
    z-index:999;
    cursor:pointer;
}
 
#intro_btn_next3{
    position: absolute;
    top:58px;
    right:-25px;
    width: 34px;
    height: 38px;
    display:block;
    overflow: hidden;
    z-index:999;
    cursor:pointer;
} 
a.bx-prev{
    width:34px;
    height:38px;
    display:block;
}  

a.bx-next{
    width:34px;
    height:38px;
    display:block;
}  

.game_src_area{overflow:hidden;position:relative;margin:0 auto;left:0px;width:262px;height:147.5px;}
.game_src_lst1{width:9999px;position:absolute;top:0}
.game_src_lst1 li{float:left;width:262px;height:100%}
.game_src_lst1 img{width:262px;height:147.5px;overflow:hidden;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-size:auto 147.5px;}

.game_src_lst2{width:9999px;position:absolute;top:0}
.game_src_lst2 li{float:left;width:262px;height:100%}
.game_src_lst2 img{width:262px;height:147.5px;overflow:hidden;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-size:auto 147.5px;}

.game_src_lst3{width:9999px;position:absolute;top:0}
.game_src_lst3 li{float:left;width:262px;height:100%}
.game_src_lst3 img{width:262px;height:147.5px;overflow:hidden;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-size:auto 147.5px;}

.pig{position:absolute;top:370px;left:-50px;width:99px;height:90px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/pig.png) no-repeat; z-index:30;background-size:auto 90px;}
.chuck{position:absolute;top:600px;left:265px;width:87px;height:80px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/chuck.png) no-repeat; z-index:50;background-size:auto 80px;}


/*footer*/
.footer{position:relative;margin:0 auto;height:216px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/open/mobile/m_ko_bg_footer.jpg) no-repeat 50% 0;background-size:auto 216px;}
.footer .btn_area{position:relative;margin:0 auto;top:109px;width:212px; height:25px;z-index:30;}
.privacy{display:block;float:left;width:98px; height:25px;}
.contact{display:block;float:left; margin-left:16px;width:98px; height:25px;}



/* layer popup */
/* common */
.dimmed{position:fixed;top:0;left:0;right:0;bottom:0;z-index:100;background:#000;filter:alpha(opacity=70);opacity:0.7;}
.ly_wrap{*zoom:1;position:fixed;top:50%;width:100%;text-align:center;z-index:100}
.ly_cont{position:relative;width:100%;height:100%}
.btn_pop_ok{display:block;overflow:hidden;margin:10px 0 20px;display:inline-block;background:#3b589e;-webkit-border-radius:35px;-moz-border-radius:35px;border-radius:35px;box-shadow:0 4px 0 #1a3475;color:#fff369;width:100px;height:30px;line-height:30px;font-size:16px;font-weight:bold}
.ly_wrap .align{display:inline-block;height:100%;vertical-align:middle}

/* 동영상 */
.ly_mov{position:fixed;top:50%;left:50%;z-index:110;text-align:center;z-index:100;width:309px;height:174px;margin:-87px 0 0 -154px}
.btn_ly_close{position:absolute;top:-40px;right:0px; width:30px; height:30px; background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/ly_btn_cls.png) no-repeat;background-size:auto 30px;}



/* 사전등록팝업 */
.ly_wrap p{padding:20px 10px 5px}
.ly_wrap em{display:block;font-size:15px;color:#5e789a;line-height:18px;}
.ly_bg1{margin:0 auto;background:#fff;width:100%;height:auto;margin-top:-85px;}
.ly_pop_tt{font-size:18px;color:#0a4999;font-weight:600;line-height:20px;}

.ly_bg2{margin-top:-150px;margin:0 auto;width:100%;}
.ly_bg2 .text_pop{margin:0 auto;margin-top:-150px;width:287px;height:316px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/ko_google_pop.png) no-repeat;background-size:auto 316px;}
.pop_num{position:relative;display:block;padding:0 5px;width:auto;height:20px;font-size:15px;color:#5e789a;top:90px;display:inline;}
.btn_pop_go{position:relative;margin:0 auto;left:2px;top:222px;display:block;overflow:hidden;width:170px;height:53px;}
.ly_bg2 .btn_ly_cls{position:relative;margin:0 auto;top:10px;display:block;overflow:hidden;width:25px;height:25px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/ly_pop_cls.png) no-repeat;background-size:25px 25px}


.pop_e_area{position:relative;margin:0 auto;width:230px;height:40px;margin-bottom:20px;}
.pop_e_area .line{width:210px;height:40px;border:1px solid #0a4999;}
.pop_e_area input{float:left;width:160px;height:40px;padding-left:10px;border:none;font-size:14px; font-family:arial; color:#778fc8;line-height:40px;background:rgba(0,0,0,0)}
.pop_e_area .btn_register{position:absolute;float:right;right:0;display:block;overflow:hidden;padding:0 15px 0;background:#3b589e;-webkit-border-radius:35px;-moz-border-radius:35px;border-radius:35px;box-shadow:0 4px 0 #1a3475;color:#fff369;width:auto;height:38px;line-height:38px;font-size:18px;font-weight:bold;}
.s_tt{display:block;font-size:13px;color:#5e789a;margin-bottom:20px;}

.ly_pop_title{position:relative;margin:0 auto;top:0px;width:250px;height:100px;background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/ko_pop_check.png) no-repeat;background-size:auto 100px;}


.lypop p{padding:7px 0 17px}
.lypop strong{font-size:30px;color:#fff;font-weight:600;line-height:35px;}

.lypop span{line-height:20px;font-size:20px;color:#80a8cc;letter-spacing:-1px;font-weight:500}



@media screen and (min-width:600px) {
.wrap{zoom:2;}
.ly_cont{zoom:1.5;}
.f_time-line-embed,.t_time-line-embed{    
    position: absolute;
    top: 124px;
    left: 48px;
    width: 445px;
    height: 634px;
    overflow:auto;
}    
/* 동영상 */
.ly_mov{position:fixed;top:50%;left:50%;z-index:110;text-align:center;z-index:100;width:309px;height:174px;margin:-87px 0 0 -230px}
.btn_ly_close{position:absolute;top:-40px;right:-100px; width:30px; height:30px; background:url(https://images.toast.com/toast/s629/angry/web/pre_regist/ly_btn_cls.png) no-repeat;background-size:auto 30px;}
}

.ly_bg3{margin:0 auto;background:#fff;width:100%;height:auto;margin-top:-85px;}
.ly_bg3 .ly_pop_tt{height:auto;font-size:18px;color:#fff;font-weight:600;line-height:20px;background:#0a4999;padding:10px 0 5px 0;}
.ly_bg3 .ly_txt{position:relative;width:300px;margin:0 auto;padding:20px 10px 10px;font-size:12px;text-align:left;}
.ly_bg3 .ly_txt dt{float:left;width:120px;height:25px;color:#fff;line-height:25px;text-align:center;background:#3b589e;
-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;}
.ly_bg3 .ly_txt dd{width:170px;padding-left:130px;margin-bottom:22px;line-height:24px}

.ly_bg3 .ly_txt2{position:relative;width:300px;margin:0 auto;padding:10px 10px 10px;font-size:10px;text-align:left}
.ly_bg3 .btn_pop_ok{margin:20px 0 20px !important;}
.ly_bg3 .btn_bg{background:#CFF4FF;}

.notice{display:none}